[core]
    sshCommand = ssh -i ~/.ssh/git-remote -o IdentitiesOnly=yes
[user]
	email = levenrok@proton.me
	name = Leven Rochana
	github = levenrok
	signingKey = 0CFBE7F8B1868B42
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[push]
	recurseSubmodules = on-demand
[submodule]
	recurse = true
[tag]
	gpgSign = true
