[core]
    sshCommand = ssh -i ~/.ssh/git-remote -o IdentitiesOnly=yes
[user]
	email = levenrok@proton.me
	name = Leven Rochana
	github = levenrok
	signingKey = 0CFBE7F8B1868B42
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[push]
	recurseSubmodules = on-demand
[submodule]
	recurse = true
[tag]
	gpgSign = true
[sendemail]
    smtpserver = smtp.gmail.com
    smtpuser = levrotech.googl@gmail.com
    smtpencryption = tls
    smtpserverport = 587
[credential]
	helper = store
[alias]
diff-words = diff --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
unstage = restore --staged
